<!--this is the parent component where we share the card to be displayed
using structural directive *ngFor we will produce the number of elements as equal
to how many posts we have-->
<!--using property binding we tell the app-card compnent which info to be displayed-->
<!--let post of posts is the loop that runs through the object and collects the necessary info-->
<app-card *ngFor="let post of posts"
[title]="post.title"
  [imageUrl]="post.imageUrl"
  [username]="post.username"
  [content]="post.content"></app-card>




<!--WITHOUT ngFor we would have to do like below and repeat everytime we add a new post-->
<!--<app-card
  [title]="posts[0].title"
  [imageUrl]="posts[0].imageUrl"
  [username]="posts[0].username"
  [content]="posts[0].content"
></app-card>
<app-card
  [title]="posts[1].title"
  [imageUrl]="posts[1].imageUrl"
  [username]="posts[1].username"
  [content]="posts[1].content"
></app-card>
<app-card
  [title]="posts[2].title"
  [imageUrl]="posts[2].imageUrl"
  [username]="posts[2].username"
  [content]="posts[2].content"
></app-card>
-->
